# The GIT repository only tracks source files, so we tell GIT
# to ignore everything else.
# Ignore compiler output
bin/*
*.o
*.a
# Ignore operational files
*.log
*.mdb
# Ignore generated documentation files
*.html
*.css
# Ignore editor backup files
*.*~
*~
# Ingore the built lmdb program
lmdb/lmdb
